*{
  padding: 0;
  margin: 0;
  border: 0;
}
body{
    max-width:1000px;
    position:relative;
    
}
header{
    width:100%;
    max-width:1000px;
    height:100px;
    background-color:#4cb4d6;   
    z-index:20;
    border-bottom:4px solid #0e79dd;   
}
nav>ul{
    display:flex;
    padding-top:66px;
    list-style-type:none;
    justify-content:center;  
}
header li{
    width:90px;
    height:30px;
    border:2px outset;
    background-color:white;
    opacity:0.5;
    text-align:center;
    font-size:26px;
}
header li:hover{
    background-color:#20B2AA;
}
header li:active{
    background-color:white;
}


.hy{
   font-family: "Saira ExtraCondensed ExtraLight", sans-serif;
    
}
.hx{
  font-family: "Comfortaa Bold",sans-serif;
}
.midle{
    display: flex;
    margin: 3px 0px ;
    background-color:#FFFAFA;
    
}
.leftBlock{
    width: 200px;
    height: 600px;
    border-right: 1px solid grey;}
.leftBlock>ul{
    display: block;
}
.rightBlock{
    width: 200px;
    height: 600px;
    border-left: 1px solid grey;
}
.centerBlock{
    width: 596px;
    height: 600px;
    border-left: 1px solid grey;
}
.footer{
    display: block;
    width: 100%;
    max-width:1000px;
    height: 150px;
    
}
.footerBlock{
   width:1000px;
    height:150px;
    background-color: #0b8cef;
}
.textFooter{
    font-size: 14px;
    
    text-align: center;
    padding-top:50px;
}
.leftBlock li{
    width: 80px;
    margin-bottom:20px;
list-style-type: none;}

li>a{
    text-decoration: none;
}
.logo{
    position:absolute;
    left:30px;
    top:10px;
}
.leftBlock ul{
    margin-left: 20px;
}